/*navbar styling-----navbar styling-----navbar styling-----navbar styling-----navbar styling-----navbar styling-----navbar styling-----navbar styling-----*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Comfortaa';
}

header {
    background-color: black;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    font-family: 'Comfortaa';
    font-size: 1vh;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar img {
    height: 7vh;
    width: 7vh;
    border: none;
}

.nav-links {
    font-family: Consolas;
    color: white;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 60px;
    width: 100%;
    justify-content: center; /* Centers the links */
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: grey;
}

.white-square1 {
    width: 8vh;
    height: 7vh;   
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;;
}

.white-square2 {
    width: 8vh;
    height: 7vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-square1 button, .white-square2 button {
    border: none;
    background: none;
    cursor: pointer;
}

.fa-bars {
    color: black; /* Change to black for visibility */
    background-color: white;
    font-size: 2.5vh; /* Adjust size */
}

.fa-compress {
    color: black; /* Change to black for visibility */
    background-color: white;
    font-size: 2.5vh; /* Adjust size */
}

/*Gallery Section-----Gallery Section-----Gallery Section-----Gallery Section-----Gallery Section-----Gallery Section-----Gallery Section-----Gallery Section-----*/

body {
    display: block; /* Removes centering behavior */
    overflow-x: hidden;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin: 30px auto; /* Pushes gallery below navbar */
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    margin: 10px;
    transition: all 700ms ease-in;
}

.panel h1{
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background: none;
}

.panel.active{
    flex: 5;
}

.panel.active h1{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px){
    .container {
        width: 100vw;
        transition: opacity 0.3s ease-in 0.4s;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}
